@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Syne';
    font-weight: 400;
    font-display: swap;
    src: url('/src/assets/fonts/Syne-400.woff2') format('woff2');
}
@font-face {
    font-family: 'Syne';
    font-weight: 600;
    font-display: swap;
    src: url('/src/assets/fonts/Syne-600.woff2') format('woff2');
}
@font-face {
    font-family: 'Syne';
    font-weight: 700;
    font-display: swap;
    src: url('/src/assets/fonts/Syne-700.woff2') format('woff2');
}
@font-face {
    font-family: 'Syne';
    font-weight: 800;
    font-display: swap;
    src: url('/src/assets/fonts/Syne-800.woff2') format('woff2');
}

@theme {
    --font-syne: 'Syne', sans-serif;
}
